{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block title %}

    <title>Test Blog</title>
  {% endblock %}
</head>

<body>
  {% block sidebar %}
    <nav class="header-content__nav">
        <ul class="navigation">
            <li class="navigation__item"><a href ="{% url 'blog:my_blog' %}">My blog</a></li>
            <li class="navigation__item"><a href ="{% url 'blog:news' %}">News</a></li>
            <li class="navigation__item"><a href ="{% url 'blog:users_list' %}">Blogs</a></li>

        </ul>
    </nav>

  {% endblock %}
  {% block content %}

      {% if posts %}
        <ul>
            {% for item in posts %}
            <li>
                <h1>{{ item.title }}</h1>
                <p>{{ item.text }}</p>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No posts yet!</p>
    {% endif %}

    <!--<form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Создать пост">
    </form>-->


    <form method = 'post' class="post_form">
        {% csrf_token %}
        <input type="text" name="title" class="post_form__item" value="{{ title_value }}">
        <div>
            {% if error_title %}
            <p>{{ error_title }}</p>
            {% endif%}
        </div>

        <input type="text" name="post_text" class="post_form__item" value="{{ text_value }}">
        <div>
            {% if error_post_text %}
            <p>{{ error_post_text }}</p>
            {% endif%}
        </div>

        <input type="submit" value="Create post" class="post_form__button">
    </form>


  {% endblock %}
</body>
</html>


